.dashboard {
  padding-left: 20px;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 20px;
}
body {
  overflow-x: hidden;
}
.eventsTable {
  width: 96%;
  border-collapse: collapse;
}
.eventsTable th {
  text-align: left;
  cursor: pointer;
}
.eventsTable td,
.eventsTable th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.eventsTable tr:first-child {
  background-color: #7cc8e6;
  color: white;
}
.eventsTable tr:nth-child(even) {
  background-color: #ebebeb;
}
.eventsTable tr {
  position: relative;
}
.eventsTable i {
  display: none;
}
.eventsTable tr:not(:first-child):hover i {
  display: block;
  position: absolute;
  right: 20px;
  top: 30%;
  color: white;
}
.eventInteract {
  display: flex;
  gap: 10px;
}
.interactBtn {
  background-color: #7cc8e6;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.interactBtn:hover {
  background-color: #69abc5;
}
.warningBtn {
  background-color: rgb(255, 230, 0);
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.warningBtn:hover {
  background-color: rgb(228, 205, 0);
}
.deleteBtn {
  background-color: rgb(255, 51, 15);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.deleteBtn:hover {
  background-color: rgb(225, 45, 13);
}
