.searchBar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.searchInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchButton {
  padding: 8px 16px;
  background-color: #7cc8e6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #69abc5;
}
.eventsTable th div {
  display: flex;
  justify-content: space-between;
}
