body {
  margin: 0;
  padding: 0;
}
.pageContent {
  padding-top: 70px;
}
.navBar h2 {
  padding-left: 50px;
}
.interaction {
  padding-right: 50px;
  display: flex;
  position: relative;
  gap: 20px;
  align-items: center;
}
.avatarGroup {
  display: flex;
  gap: 10px;
  height: 100%;
  align-items: center;
}
.avatarGroup p {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: large;
}
.avatar {
  color: white;
  background-color: #7cc8e6;
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.navBar {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100vw !important;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.interaction i {
  font-size: larger;
}
.avatarGroup:hover {
  filter: brightness(1.2);
  cursor: pointer;
}
.fa-bell:hover {
  filter: brightness(1.2);
  cursor: pointer;
}
.dropdown {
  position: absolute;
  top: 72px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  color: black;
  z-index: 10;
}

.dropdown p {
  margin: 5px 0;
  padding: 10px;
  padding-right: 50px;
  cursor: pointer;
}
.dropdown i {
  margin-right: 10px;
}
.dropdown p:hover {
  background-color: #f0f0f0;
}
